---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"test@example.com"}]}'
    headers:
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"msg\":\"Contact already existed\",\"error\":\"CONTACT_EXISTS\",\"property\":{\"vid\":191287,\"identities\":[{\"type\":\"EMAIL\",\"value\":\"test@example.com\",\"timestamp\":1384776031196},{\"type\":\"LEAD_GUID\",\"value\":\"e30589ff-3be9-4e08-94f3-f9ffbdede84d\",\"timestamp\":1384776031262}]}}","requestId":"664d4823-53c5-4291-8697-5b2e65572a87"}'
  recorded_at: Sat, 28 Jun 2014 22:47:05 GMT
recorded_with: VCR 2.9.2
