---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/231258/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"updateemail@example.com"}]}'
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Contacts API is in read-only mode at the
        present time","requestId":"d9392a7f-43b4-4d86-8cd7-79c69a02fdc7"}'
  recorded_at: Sun, 29 Jun 2014 04:36:26 GMT
recorded_with: VCR 2.9.2
