---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/231258/profile?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Contacts API is in read-only mode at the
        present time","requestId":"8752f009-f23d-4441-911e-a5895bf87593"}'
  recorded_at: Sun, 29 Jun 2014 05:00:07 GMT
recorded_with: VCR 2.9.2
